<link rel="stylesheet" href="../public/css/style.css">
<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-Post-form">
    <div>
      <input name="Post-title" type="text" value="{{Post.title}}" />
    </div>
    <div>
      <textarea name="Post-text">{{Post.post_text}}</textarea>
    </div>
    <div>
      Posted by you on {{format_date Post.created_at}}
      |
      <a href="/Post/{{Post.id}}">{{Post.comments.length}} {{format_plural "comment" Post.comments.length}}</a>
    </div>
    <button type="submit">Save Post</button>
    <button type="button" class="delete-Post-btn">Delete Post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments Post.comments}}

<!--Scripts-->
<script src="/javascript/edit-Post.js"></script>
<script src="/javascript/delete-Post.js"></script>
<script src="/javascript/comment.js"></script>